body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;

}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.flixable-container {
    display: flex;

}

p {
    color: dimgray;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

.half-width img {
    width: 100%;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    height: 80%;
    border-radius: 5px;
}

#web-developer-area {

    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#full-stack-area {
    border-left: 7px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p {
    text-align: center;
}